<!doctype html>
<html lang="en">

<head>
  <title>Mandala Residences</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link th:href="@{https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap}" rel="stylesheet">

  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

  <link rel="stylesheet" th:href="@{/login/css/style.css}">

</head>

<body class="img js-fullheight" th:style="'background-image: url(' + @{/login/images/bg.jpg} +');'">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Mandala Residences</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form th:action="@{/login}" method="POST" class="signin-form">
              <div class="alert alert-warning fade show" th:if="${param.error != null or errorMsg != null}"
                id="errMessage">
                <button type="button" class="close" onclick="$('#errMessage').hide();" aria-hidden="true"
                  aria-label="Close">
                  ×
                </button>
                <th:block th:if="${param.error} and ${session.SPRING_SECURITY_LAST_EXCEPTION != null}"
                  th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" th:text="${errorMsg}" />
              </div>
              <div class="form-group">
                <input name="username" id="username" type="text" class="form-control" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input name="password" id="password" type="password" class="form-control" placeholder="Password"
                  required>
                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script th:src="@{/login/js/jquery.min.js}"></script>
  <script th:src="@{/login/js/popper.js}"></script>
  <script th:src="@{/login/js/bootstrap.min.js}"></script>
  <script th:src="@{/login/js/main.js}"></script>

</body>

</html>